nav.navbar.navbar-expand-lg.navbar-dark.p-3.bg-danger {
  background-color: black !important;
}

.carrito {
  width: 30px;
}

.collapse.navbar-collapse li {
  font-size: 25px;
}

body {
  background-color: black;
}

.col {
  color: white;
  width: 30%;
  height: 20%;
}

.navbar-nav {
  align-items: center;
}

.carousel-item {
  height: 50%;
  width: 100%;
}

footer.text-center.text-white {
  background-color: black;
}

.text-dark {
  color: white !important;
}

.fab img {
  width: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 1rem;
  padding: 1rem;
  color: wheat;
}
.grid .grid {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}
.grid .grid-item {
  flex: 0 0 calc((100% - (2 * 20px)) / 3);
  margin: 10px;
  height: 500px;
  background-color: rgb(14, 13, 12);
}
.grid .grid-item.grid-item-2 {
  background-image: url(../img/maxresdefault.jpg);
  background-position: center;
  position: relative;
  background-size: cover;
}
.grid .grid-item.grid-item-1 p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 0;
}
.grid .grid-item.animated {
  transition: all 0.2s ease-in-out;
}
.grid .grid-item:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

#shopse {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.producto img {
  width: 300px;
  margin: 10px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}
.producto img:hover {
  transform: scale(1.1);
}
.producto p {
  color: white;
}
.producto button {
  color: black;
  background: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.producto button:hover {
  background: #e6e6e6;
  transform: scale(1.05);
}
.producto h3 {
  color: white;
  font-size: 20px;
}

.Filtros {
  color: white;
  box-sizing: border-box;
}
.Filtros #botonT {
  background-color: cyan;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.Filtros #botonT:hover {
  background: #00cccc;
  transform: scale(1.05);
}
.Filtros option {
  color: black;
  text-align: center;
}
.Filtros label {
  color: white;
  text-align: center;
}
.Filtros select#category {
  color: black;
}
.Filtros select#Talle {
  color: black;
}

.cont {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  background-color: #333;
}
.cont label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #fff;
}
.cont input, .cont textarea {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  box-sizing: border-box;
  color: #fff;
}
.cont button {
  background-color: cyan;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
}
.cont button:hover {
  background-color: black;
  color: cyan;
}

iframe {
  width: 80%;
  height: 600px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 992px) {
  li .nav-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
@media screen and (max-width: 850px) {
  .grid {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 1rem;
    padding: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
