* {
padding:0;
margin:0;
}
/*Diseño Inicio*/
nav.navbar.navbar-expand-lg.navbar-dark.p-3.bg-danger {
    background-color: black !important;
}

.carrito {
    width:30px;

}

.collapse.navbar-collapse li{
    font-size: 25px;
}

body {
    background-color: black;
}

.col {
    color:white;
    width:30%;
    height: 20%;
}

.navbar-nav {
    align-items: center;
}


.carousel-item {
    height: 50%;
    width:100%;
}

footer.text-center.text-white {
    background-color:black;
}

div.col {
    background-image: url(Diselatupropiaremera.png);
}

.text-dark {
    color:white !important;
}

.fab img{
    width:30px;
}

  
.grid {
  
display: grid;
grid-template-columns: repeat(2,1fr);
grid-template-rows: auto;
grid-gap: 1rem;
padding: 1rem;
}


.grid-item {

width: 100%;
height: 500px;
background-color: gold;
}

.grid-item.grid-item-2 {
    background-image:url(../img/grids2.jpg);
    background-position:center;
}

.grid-item.grid-item-1 {
    background-image:url(../img/grids1.jpg);
    background-position:center;
}


/*diseño de la Tienda*/

  #shopse {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .producto img {
    width: 300px;
    margin: 10px;
    text-align: center;
  }
.producto p{
    color: white;
}
.producto button {
    color:black ;
    background: white;
}
.producto button:hover {
    border-radius: 20px;
    background: cyan;
    width: 50px;
}
.producto h3 {
    color: white;
    font-size: 20px;
}
.Filtros {
    color: white;
    box-sizing: border-box;
}
#botonT {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
}
.Filtros option {
    color: black;
    text-align: center;
}
.Filtros label {
    color: white;
    text-align: center;
}
select#category {
    color: black;
}
select#Talle {
    color:black;
}
  /*Formulario de contacto*/
.cont {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
  }
  
 .cont label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: white;
  }
  
 .cont input,
  textarea {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    box-sizing: border-box;
    color: #fff;
  }
  
.cont button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
  }
  
 .cont button:hover {
    background-color: #fff;
    color: #333;}

/*Ubicacion de la tienda*/

    iframe {
        width: 80%;
        height: 600px;
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width:992px) {
        li .nav-item {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    
    }
    @media screen and (max-width: 850px) {
        .grid {
      
            display: grid;
            grid-template-columns:auto;
            grid-gap: 1rem;
            padding: 1rem;
    }
    }
/*Font Awesome: Para los logos de la pagina: twitter, instagram, home, etc*/